# Dont forget to set the env variable "cert_path" , "key_path", "location_cert_key"

files:
  # The Nginx config forces https, and is meant as an example only. 
  /etc/nginx/sites-available/https_server.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen       443 default ssl;
        server_name  localhost;
        error_page  497 https://$host$request_uri;

        ssl_certificate      cert_file;
        ssl_certificate_key  key_file;
        ssl_session_timeout  5m;
        ssl_protocols  TLSv1.1 TLSv1.2;
        ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
        ssl_prefer_server_ciphers   on;
        if ($ssl_protocol = "") {
          rewrite ^ https://$host$request_uri? permanent;
        }
        location / {
            proxy_pass  http://docker;
            proxy_set_header   Connection "";
            proxy_http_version 1.1;
            proxy_set_header        Host            $host;
            proxy_set_header        X-Real-IP       $remote_addr;
            proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header        Upgrade         $http_upgrade;
            proxy_set_header        Connection      "upgrade";
        }
      }

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_nginx.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service nginx restart

packages: 
  yum:
    epel-release: [] 

commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true

container_commands:
  1_certificate_directory:
    command: "rm -rf ${location_cert_key}; sudo mkdir ${location_cert_key}"
  2_certificate_download:
    command: "wget ${cert_path};"
  3_key_download:
    command: "wget ${key_path};"
  4_certificate_move:
    command: "export cert_file=$(echo ${cert_path} | rev | awk -F'/' '{print $1}' | rev); sudo mv $cert_file  ${location_cert_key}/."
  5_key_move:
    command: "export key_file=$(echo ${key_path} | rev | awk -F'/' '{print $1}' | rev); sudo mv $key_file  ${location_cert_key}/."
  6_edit_cert:
    command: "export cert_file=$(echo ${cert_path} | rev | awk -F'/' '{print $1}' | rev); sudo sed -i \"s;cert_file;${location_cert_key}/$cert_file;g\" /etc/nginx/sites-available/https_server.conf "
  7_edit_key:
    command: "export key_file=$(echo ${key_path} | rev | awk -F'/' '{print $1}' | rev); sudo sed -i \"s;key_file;${location_cert_key}/$key_file;g\" /etc/nginx/sites-available/https_server.conf "
  8_link_nginx:
    command: "sudo ln -sf /etc/nginx/sites-available/https_server.conf /etc/nginx/sites-enabled/https_server.conf"

